<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.goodee.app.product.ProductDTO" alias="ProductDTO"/>
  		<typeAlias type="com.goodee.app.member.MemberDTO" alias="MemberDTO"/>
  		<typeAlias type="com.goodee.app.account.AccountDTO" alias="AccountDTO"/>		
  		<typeAlias type="com.goodee.app.account.TradeDTO" alias="TradeDTO"/>		
  		<typeAlias type="com.goodee.app.account.ListOption" alias="ListOption"/>	
  		<typeAlias type="com.goodee.app.boards.BoardDTO" alias="BoardDTO"/>	  			
  		<typeAlias type="com.goodee.app.boards.notice.NoticeDTO" alias="NoticeDTO"/>	  			
  		<typeAlias type="com.goodee.app.boards.qna.QnaDTO" alias="QnaDTO"/>		
  		<typeAlias type="com.goodee.app.util.Pager" alias="Pager"/>		
  		<typeAlias type="com.goodee.app.files.FileDTO" alias="FileDTO"/>		
  		<typeAlias type="com.goodee.app.member.MemberFileDTO" alias="MemberFileDTO"/>		
  		<typeAlias type="com.goodee.app.product.ProductFileDTO" alias="ProductFileDTO"/>		
  		<typeAlias type="com.goodee.app.boards.notice.NoticeFileDTO" alias="NoticeFileDTO"/>		
  		<typeAlias type="com.goodee.app.boards.qna.QnaFileDTO" alias="QnaFileDTO"/>	
  		<typeAlias type="com.goodee.app.boards.BoardFileDTO" alias="BoardFileDTO"/>	
  	</typeAliases>
  
  
  
  </configuration>