<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.goodee.app.account.AccountDAO">
  	
  	<insert id="add" parameterType="AccountDTO">
  		INSERT INTO ACCOUNT_INFO (ACCOUNT_NUM, USER_ID, PRODUCT_NUM, BALANCE, ACCOUNT_DATE)
		VALUES (#{account_num}, #{user_id}, #{product_num}, 0, SYSDATE)
  	</insert>
  	
  	<select id = "list" resultType="AccountDTO" parameterType="MemberDTO">
  		SELECT ACCOUNT_NUM, BALANCE FROM ACCOUNT_INFO
  		WHERE USER_ID = #{user_id}
  	</select>
  	
 
  </mapper>