<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.goodee.app.boards.notice.NoticeDAO">
  
  <sql id = "searchSql">
  		<where>
		  	 BOARD_NUM > 0
		  	<choose>
		  		<when test = "kind == 'title'">
		  			AND BOARD_TITLE LIKE '%'||#{search}||'%'
		  		</when>
		  		<when test = "kind == 'contents'">
		  			AND BOARD_CONTENTS LIKE '%'||#{search}||'%'
		  		</when>
		  		<otherwise>
		  			AND BOARD_WRITER LIKE '%'||#{search}||'%'
		  		</otherwise>
		  	</choose>
		  </where>
  
  	</sql>
  
  	<select id="getList" resultType="NoticeDTO" parameterType="Pager">
  		SELECT * FROM 
			(SELECT ROWNUM R, B.* FROM
			(SELECT * FROM NOTICE
			<include refid="searchSql"></include>
			ORDER BY BOARD_NUM DESC) B)
			WHERE R	BETWEEN #{startRow} AND #{lastRow}
  	</select>
  	
  	<select id="getTotalCount" resultType="java.lang.Long" parameterType="Pager">
  		SELECT COUNT(BOARD_NUM) FROM NOTICE
  		<include refid="searchSql"></include>
  	</select>
  	
  	<select id="getDetail" resultMap="getDetailResult" parameterType="NoticeDTO">
  		SELECT * FROM NOTICE n2
			LEFT JOIN
			NOTICE_FILES nf 
			ON n2.BOARD_NUM = nf.BOARD_NUM
			WHERE n2.BOARD_NUM = #{board_num}
  	</select>
  	
  	<resultMap type="NoticeDTO" id="getDetailResult">
  		<id column="BOARD_NUM" property="board_num" />
  		<result column="BOARD_WRITER" property="board_writer"/>
  		<result column="BOARD_TITLE" property="board_title"/>
  		<result column="CREATE_DATE" property="create_date"/>
  		<result column="UPDATE_DATE" property="update_date"/>
  		<result column="BOARD_HIT" property="board_hit"/>
  		<result column="BOARD_CONTENTS" property="board_contents"/>
  		<result column="BOARD_CATEGORY" property="board_category"/>
  		<collection property="boardFileDTOs" javaType="java.util.List" ofType="BoardFileDTO">
  			<id column="FILE_NUM" property="file_num"/>
  			<result column="FILE_NAME" property="file_name"/>
  			<result column="ORI_NAME" property="ori_name"/>
  		</collection>
  	</resultMap>
  	
  	<insert id="add" parameterType="NoticeDTO">
  		<selectKey order="BEFORE" resultType="Long" keyProperty="board_num">
  			SELECT BOARD_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  		INSERT INTO NOTICE
  		(BOARD_NUM, BOARD_TITLE, BOARD_WRITER, CREATE_DATE, UPDATE_DATE, BOARD_HIT, BOARD_CONTENTS, BOARD_CATEGORY)
			VALUES (#{board_num}, #{board_title}, #{board_writer}, SYSDATE, SYSDATE, 0, #{board_contents}, 'a')
  	</insert>
  	
  	<delete id="delete" parameterType="NoticeDTO">
  		DELETE NOTICE WHERE BOARD_NUM = #{board_num}
  	</delete>
  	
  	<update id="update" parameterType="NoticeDTO">
  		UPDATE NOTICE SET BOARD_TITLE = #{board_title}, BOARD_CONTENTS = #{board_contents}, UPDATE_DATE = SYSDATE
			WHERE BOARD_NUM = #{board_num}
  	</update>
  	
  	
  	
  	<!-- File Table에 집어넣을 insert 쿼리문 -->

  	<insert id="addFile" parameterType="NoticeFileDTO">
  		INSERT INTO
  		NOTICE_FILES (FILE_NUM, BOARD_NUM, FILE_NAME, ORI_NAME)
		VALUES (FILES_SEQ.NEXTVAL, #{board_num}, #{file_name}, #{ori_name})
  	</insert>
  
  	
 
  </mapper>