<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.goodee.app.boards.qna.QnaDAO">
  
  	<sql id = "searchSql">
  		<where>
		  	 BOARD_NUM > 0
		  	<choose>
		  		<when test = "kind == 'title'">
		  			AND BOARD_TITLE LIKE '%'||#{search}||'%'
		  		</when>
		  		<when test = "kind == 'contents'">
		  			AND BOARD_CONTENTS LIKE '%'||#{search}||'%'
		  		</when>
		  		<otherwise>
		  			AND BOARD_WRITER LIKE '%'||#{search}||'%'
		  		</otherwise>
		  	</choose>
		  </where>
  
  	</sql>
  
  	<select id="getList" resultType="QnaDTO" parameterType="Pager">
	  	SELECT * FROM
		  	(SELECT ROWNUM R, Q.* FROM
				(SELECT * FROM QNA
		  		
		  		<include refid="searchSql"></include>
		  		
		  		ORDER BY REF DESC, STEP ASC
		  		) Q
		  	)
		  	WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  	
  	<select id="getTotalCount" resultType="java.lang.Long" parameterType="Pager">
  		SELECT COUNT(BOARD_NUM) FROM QNA
  		<include refid="searchSql"></include>
  	</select>
  	
  	<select id="getDetail" resultType="QnaDTO" parameterType="QnaDTO">
  		SELECT * FROM QNA
			WHERE BOARD_NUM = #{board_num} AND DEL=0
  	</select>
  	
  	<insert id="add" parameterType="QnaDTO">
  		INSERT INTO QNA
  		(
  			BOARD_NUM, BOARD_TITLE, BOARD_WRITER, CREATE_DATE, UPDATE_DATE,
  			BOARD_HIT, BOARD_CONTENTS, BOARD_CATEGORY, REF, STEP, DEPTH
  		)
		VALUES
		(
		BOARD_SEQ.NEXTVAL, #{board_title}, #{board_writer}, SYSDATE, SYSDATE,
		0, #{board_contents}, 'Q', BOARD_SEQ.CURRVAL, 0, 0
		)
  	</insert>
  	
  	<insert id="reply" parameterType="QnaDTO">
  		INSERT INTO QNA
  		(
  			BOARD_NUM, BOARD_TITLE, BOARD_WRITER, CREATE_DATE, UPDATE_DATE,
  			BOARD_HIT, BOARD_CONTENTS, BOARD_CATEGORY, REF, STEP, DEPTH
  		)
		VALUES
		(
		BOARD_SEQ.NEXTVAL, #{board_title}, #{board_writer}, SYSDATE, SYSDATE,
		0, #{board_contents}, 'Q', #{ref}, #{step}, #{depth}
		)
  	</insert>
  	
  	<update id="replyUpdate" parameterType="QnaDTO">
  		UPDATE QNA SET STEP = STEP + 1
  		WHERE REF = #{ref} AND STEP > #{step}
  	</update>
  	
  	<delete id="delete" parameterType="QnaDTO">
  		UPDATE QNA SET DEL = 1 WHERE BOARD_NUM = #{board_num}
  	</delete>
  	
  	<update id="update" parameterType="QnaDTO">
  		UPDATE QNA SET
  		BOARD_TITLE = #{board_title}, BOARD_CONTENTS = #{board_contents}, UPDATE_DATE = SYSDATE
			WHERE BOARD_NUM = #{board_num}
  	</update>
  	
  <!-- 	<insert id="addHit" parameterType="QnaDTO">
  		INSERT INTO QNA
  		(BOARD_HIT)
		VALUES
		( #{board_hit + 1})
  	</insert> -->
  
  	
 
  </mapper>