<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.goodee.app.boards.qna.QnaDAO">
  
  	<sql id = "searchSql">
  		<where>
		  	 BOARD_NUM > 0
		  	<choose>
		  		<when test = "kind == 'title'">
		  			AND BOARD_TITLE LIKE '%'||#{search}||'%'
		  		</when>
		  		<when test = "kind == 'contents'">
		  			AND BOARD_CONTENTS LIKE '%'||#{search}||'%'
		  		</when>
		  		<otherwise>
		  			AND BOARD_WRITER LIKE '%'||#{search}||'%'
		  		</otherwise>
		  	</choose>
		  </where>
  
  	</sql>
  
  	<select id="getList" resultType="QnaDTO" parameterType="Pager">
	  	SELECT * FROM
		  	(SELECT ROWNUM R, Q.* FROM
				(SELECT * FROM QNA
		  		
		  		<include refid="searchSql"></include>
		  		
		  		ORDER BY REF DESC, STEP ASC
		  		) Q
		  	)
		  	WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  	
  	<select id="getTotalCount" resultType="java.lang.Long" parameterType="Pager">
  		SELECT COUNT(BOARD_NUM) FROM QNA
  		<include refid="searchSql"></include>
  	</select>
  	
  	<select id="getDetail" resultMap="getDetailResult" parameterType="QnaDTO">
  		SELECT * FROM QNA q 
			LEFT JOIN
			QNA_FILES qf 
			ON q.BOARD_NUM = qf.BOARD_NUM
			WHERE q.BOARD_NUM = #{board_num}
  	</select>
  	
  	<resultMap type="QnaDTO" id="getDetailResult">
  		<id column="BOARD_NUM" property="board_num" />
  		<result column="BOARD_WRITER" property="board_writer"/>
  		<result column="BOARD_TITLE" property="board_title"/>
  		<result column="CREATE_DATE" property="create_date"/>
  		<result column="UPDATE_DATE" property="update_date"/>
  		<result column="BOARD_HIT" property="board_hit"/>
  		<result column="BOARD_CONTENTS" property="board_contents"/>
  		<result column="BOARD_CATEGORY" property="board_category"/>
  		<collection property="boardFileDTOs" javaType="java.util.List" ofType="BoardFileDTO">
  			<id column="FILE_NUM" property="file_num"/>
  			<result column="FILE_NAME" property="file_name"/>
  			<result column="ORI_NAME" property="ori_name"/>
  		</collection>
  	</resultMap>
  	
  	<insert id="add" parameterType="QnaDTO">
  		<selectKey order="BEFORE" resultType="Long" keyProperty="board_num">
  			SELECT BOARD_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  		INSERT INTO QNA
  		(
  			BOARD_NUM, BOARD_TITLE, BOARD_WRITER, CREATE_DATE, UPDATE_DATE,
  			BOARD_HIT, BOARD_CONTENTS, BOARD_CATEGORY, REF, STEP, DEPTH, DEL
  		)
		VALUES
		(
		#{board_num}, #{board_title}, #{board_writer}, SYSDATE, SYSDATE,
		0, #{board_contents}, 'Q', #{board_num}, 0, 0, 0
		)
  	</insert>
  	
  	<insert id="reply" parameterType="QnaDTO">
<!--   		<selectKey order="BEFORE" resultType="Long" keyProperty="board_num">
  			SELECT BOARD_SEQ.NEXTVAL FROM DUAL
  		</selectKey> -->
  		INSERT INTO QNA
  		(
  			BOARD_NUM, BOARD_TITLE, BOARD_WRITER, CREATE_DATE, UPDATE_DATE,
  			BOARD_HIT, BOARD_CONTENTS, BOARD_CATEGORY, REF, STEP, DEPTH, DEL
  		)
		VALUES
		(
		BOARD_SEQ.NEXTVAL, #{board_title}, #{board_writer}, SYSDATE, SYSDATE,
		0, #{board_contents}, 'Q', #{ref}, #{step}, #{depth}, 0
		)
  	</insert>
  	
  	<update id="replyUpdate" parameterType="QnaDTO">
  		UPDATE QNA SET STEP = STEP + 1
  		WHERE REF = #{ref} AND STEP > #{step}
  	</update>
  	
  	<delete id="delete" parameterType="QnaDTO">
  		UPDATE QNA SET DEL = 1 WHERE BOARD_NUM = #{board_num}
  	</delete>
  	
  	<update id="update" parameterType="QnaDTO">
  		UPDATE QNA SET
  		BOARD_TITLE = #{board_title}, BOARD_CONTENTS = #{board_contents}, UPDATE_DATE = SYSDATE
			WHERE BOARD_NUM = #{board_num}
  	</update>
  	


	<!-- File Table에 집어넣을 insert 쿼리문 -->
  	
  	<insert id="addFile" parameterType="QnaFileDTO">
  		INSERT INTO
  		QNA_FILES (FILE_NUM, BOARD_NUM, FILE_NAME, ORI_NAME)
		VALUES (FILES_SEQ.NEXTVAL, #{board_num}, #{file_name}, #{ori_name})
  	</insert>
  
  	
 
  </mapper>